.image-position {
  position: relative;
}

.logo-image {
  position: absolute;
  left: 15rem;
  z-index: 1;
}

.straight-line {
  width: 58%; /* Set the width of the line */
  border-bottom: 1px solid red; /* Set the line color and style */
  position: absolute;
  left: 20rem;
}

@media print {
  .scroll-container {
    overflow: visible;
    height: fit-content;
  }
  .logo-image {
    position: absolute;
    left: 4rem;
    z-index: 1;
  }
  .straight-line {
    width: 70%; /* Set the width of the line */
    left: 10rem;
  }
  
}