.image-position {
  position: relative;
}

.logo-image {
  display: none;
}

.straight-line {
  display: none;
}

@media print {
  .scroll-container {
    overflow: visible;
    height: fit-content;
  }
  .logo-image {
    display: block;
    position: absolute;
    left: 4rem;
    z-index: 1;
  }
  .straight-line {
    display: block;
    border-bottom: 1px solid red; /* Set the line color and style */
    position: absolute;

    width: 70%; /* Set the width of the line */
    left: 10rem;
  }
}
